<div class="weather-container">

  <div class="card-wrapper">

    <div class="icon">
      <div class="cloud-group">
        <span class="icon-cloud cloud-circle shadow-cloud-clip"></span>
        <span class="icon-cloud cloud-base shadow-cloud-clip"></span>
      </div>
    </div>

    <div class="icon">
      <div class="cloud-group">
        <div class="sun-group">
          <span class="icon-cloud sun"></span>
          <span class="icon-cloud sunshine"></span>
        </div>
        <span class="icon-cloud cloud-circle shadow-cloud-clip"></span>
        <span class="icon-cloud cloud-base shadow-cloud-clip"></span>
      </div>
    </div>

    <div class="icon">
      <div class="cloud-group">
        <div class="sun-group">
          <span class="icon-cloud sun"></span>
          <span class="icon-cloud sunshine"></span>
          <span class="icon-cloud sunshine2"></span>
          <span class="icon-cloud sunshine3"></span>
        </div>
      </div>
    </div>

    <div class="icon">
      <div class="cloud-group">
        <span class="icon-cloud cloud-circle shadow-cloud-clip"></span>
        <span class="icon-cloud cloud-base shadow-cloud-clip"></span>
        <div class="rain-group">
          <span class="icon-cloud rain"></span>
        </div>
      </div>
    </div>

    <div class="icon">
      <div class="cloud-group">
        <span class="icon-cloud cloud-circle shadow-cloud-clip"></span>
        <span class="icon-cloud cloud-base shadow-cloud-clip"></span>
        <span class="icon-cloud snowflake"></span>  
        <span class="icon-cloud snowflake2"></span>
        <span class="icon-cloud snowflake3"></span>    
      </div>
    </div>

  </div>

</div>
